{% extends "tinymol/base.html" %}
{% load static from staticfiles %}

{% block brand %}<p class="navbar-text">4X96=384</p>{% endblock %}

{% block mainbody %}
<div class="container main-body">
  <div class="row">
    <div class="col-md-6">
      <h3>Step 1: Select Direction</h3>
      <div id="carousel-direction" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-direction" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-direction" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="{% static "tinymol/img/384-4X96.png" %}">
          </div>
          <div class="item">
            <img src="{% static "tinymol/img/4X96-384.png" %}">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-direction" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-direction" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Step 2: Select Layout</h3>
      <div id="carousel-layout" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-layout" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-layout" data-slide-to="1"></li>
          <li data-target="#carousel-layout" data-slide-to="2"></li>
          <li data-target="#carousel-layout" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="{% static "tinymol/img/Interset-Z.png" %}">
            <div class="carousel-caption">
              <h1></h1>
            </div>
          </div>
          <div class="item">
            <img src="{% static "tinymol/img/Interset-N.png" %}">
            <div class="carousel-caption">
              <h1></h1>
            </div>
          </div>
          <div class="item">
            <img src="{% static "tinymol/img/Block-Z.png" %}">
            <div class="carousel-caption">
              <h1></h1>
            </div>
          </div>
          <div class="item">
            <img src="{% static "tinymol/img/Block-N.png" %}">
            <div class="carousel-caption">
              <h1></h1>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-layout" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-layout" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>

  <div class="col-md-12">
      <h3>Step 3: Upload your data.</h3>
  </div>
   
</div>
{% endblock %}
