{% load static from staticfiles %}

<div class="container main-body">
  <!-- Example row of columns -->

  <div class="row">
  	<div class="col-md-12">
	  	<h1 class="center"><strong>苏州智光信息科技有限公司</strong></h1>
	  	<dl class="dl-horizontal">
		  <dt><i class="fa fa-evalop"></i>地 址：</dt>
		  <dd>江苏省常熟市新世纪大道75号（世茂75号公馆B幢605）</dd>
		  <dt><i class="fa fa-evalop"></i>电 话：</dt>
		  <dd>0512-52818669 · 18913644106</dd>
		  <dt><i class="fa fa-evalop"></i>传 真：</dt>
		  <dd>0512-52208701</dd>
		  <dt><i class="fa fa-evalop"></i>电子邮件：</dt>
		  <dd><a href="mailto:service@zhiguangkeji.com">service@zhiguangkeji.com</a></dd>
		</dl>
	</div>
	<div class="col-md-12">
		<div style="width:700px;height:550px;border:#ccc solid 1px;font-size:12px;margin:auto;" id="map"></div>
		</div>
	</div>
  </div>
</div>
 <script type="text/javascript">
  //创建和初始化地图函数：
  function initMap(){
    createMap();//创建地图
    setMapEvent();//设置地图事件
    addMapControl();//向地图添加控件
    addMapOverlay();//向地图添加覆盖物
  }
  function createMap(){ 
    map = new BMap.Map("map"); 
    map.centerAndZoom(new BMap.Point(120.778656,31.671878),18);
  }
  function setMapEvent(){
    map.enableScrollWheelZoom();
    map.enableKeyboard();
    map.enableDragging();
    map.enableDoubleClickZoom()
  }
  function addClickHandler(target,window){
    target.addEventListener("click",function(){
      target.openInfoWindow(window);
    });
  }
  function addMapOverlay(){
    var markers = [
      {content:"江苏省常熟市新世纪大道75号（世茂75号公馆B幢605）",title:"苏州智光信息科技有限公司",imageOffset: {width:0,height:3},position:{lat:31.671332,lng:120.778755}}
    ];
    for(var index = 0; index < markers.length; index++ ){
      var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
      var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
        imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
      })});
      var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
      var opts = {
        width: 200,
        title: markers[index].title,
        enableMessage: false
      };
      var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
      marker.setLabel(label);
      addClickHandler(marker,infoWindow);
      map.addOverlay(marker);
    };
    var labels = [
    ];
    for(var index = 0; index < labels.length; index++){
      var opt = { position: new BMap.Point(labels[index].position.lng,labels[index].position.lat )};
      var label = new BMap.Label(labels[index].content,opt);
      map.addOverlay(label);
    };
  }
  //向地图添加控件
  function addMapControl(){
    var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
    scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
    map.addControl(scaleControl);
    var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
    map.addControl(navControl);
    var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
    map.addControl(overviewControl);
  }
  var map;
    initMap();
</script>