{% load static from staticfiles %}<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="tinymol chemical informatical services">
  <meta name="author" content="tinymol">

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                 <link rel="shortcut icon" href="ico/favicon.png">

  <title>{% block title %}TinyMol{% endblock %}</title>

  {% block extra_css %}
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link href="{% static "tinymol/css/tinymol.css" %}" rel="stylesheet">
  {% endblock %}

</head>

<body>
  <div class="page-container">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
            <a class="navbar-brand" href="https://tinymol.com/index.html" title="www.tinymol.com">
              <img alt="." src="{% static "tinymol/ico/favicon.png"%}" width="24">
            </a>
            <a href="https://tinymol.com/index.html" class="navbar-brand" title="home">
              Tinymol
            </a>
            {% block brand %}{% endblock %}
          </div>
        </div>
        {% block navbar %}{% endblock %}

        </div><!--/.navbar-collapse -->
      </div>
    </div>

    {% block mainbody %}
    <div ng-view>
    </div>
    {% endblock %}

    <footer class="container">
      <hr/>
      <div class="row">
        <div class="col-xs-4">
          <p><a href="#">法律声明</a> | <a href="#">用户指南</a> | <a href="#">网站地图</a> | <a href="#about">联系我们</a> </p>
        </div>
        <div class="col-xs-8">
          <p class="text-right">苏州智光信息科技有限公司 &copy; 2005~2015·版权所有 | 苏ICP备15010841号</p>
        </div>
      </div>
    </footer>

    

    {% block extra_dlg %}{% endblock %}
  </div>

  {% block extra_js %}
  <!-- ====== JavaScript ===== -->
  <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
  
  {% endblock %}

</body>
</html>
