{% load static from staticfiles %}<div class="container main-body">
  <progress>
    <bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}">
      <span>{{bar.value}}%</span>
    </bar>
  </progress>

  <div class="row" ng-if="!eula_accepted">
    <div class="md-12">
      <h1><i class="fa fa-user"></i> 用户协议<small>感谢您选择Tinymol网站</small></h1>
      <ol>
        <li>
          <h3>协议内容及适用对象</h3>
          <p>本服务协议双方为TINYMOL（TINYMOL.com）的运营管理方智光信息科技有限公司（以下简称“智光”）和使用TINYMOL.com平台的注册用户。（以下简称“注册用户”）。本服务协议阐述之条款和条件适用于注册用户使用TINYMOL.com网站的各种工具和服务。当您确认本服务协议后，本服务协议即在您、您公司和智光之间产生法律约束力。
          </p>
          <ul>
            <li>无论您事实上是否在注册之前认真阅读了本服务协议，只要您按照TINYMOL平台注册程序（流程）成功注册为用户，您的行为仍然表示您、您公司同意并签署了本服务协议</li>
            <li>本协议不涉及您、您公司与TINYMOL平台的其他用户之间因网上交易而产生的法律关系及法律纠纷</li>
          </ul>
        
          <p>所以请您务必认真阅读全部服务协议内容，如有任何疑问，可向TINYMOL客户服务中心咨询。</p>
          <p>本服务协议内容包括本协议正文及所有智光已经公开发布的或将来可能公开发布的各类规则。所有公开规则为协议不可分割的一部分，与协议正文具有同等法律效力。</p>
          <p>智光有权根据需要不时地制定、修改本协议或各类规则。如本协议有任何变更，智光将在网站上刊载公告，以通知注册用户。如注册用户不同意相关变更，必须停止使用“服务”。经修订的协议一经在网公布后，立即自动生效。各类规则会在发布生效后，亦成为本协议的一部分。登录或继续使用“服务”将表示注册用户接受经修订的协议和规则。除另行明确声明外，任何使“服务”范围扩大或网站功能增强的新内容均受本协议约束。</p>
        </li>
        <li>
          <h3>TINYMOL注册用户的定义</h3>
          <p>注册用户是指依照TINYMOL平台注册规定注册成为用户，并希望使用TINYMOL平台（包括结构化合物数据中心、搜索引擎和交易平台）服务的用户。（有关具体注册步骤请查看“帮助”信息）。</p>
        </li>
        <li>
          <h3>TINYMOL注册用户的权利、义务和责任</h3>
          <ol>
            <li>基于TINYMOL平台所提供的网络服务的重要性，注册用户应同意：
              <ol>
                <li>提供详尽、准确的个人资料。</li>
                <li>不断更新注册资料，符合及时、详尽、准确的要求。</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <h3>TINYMOL的权利、责任和义务</h3>
        </li>
        <li>
          <h3>TINYMOL平台的使用</h3>
        </li>
        <li>
          <h3>协议终止</h3>
        </li>
        <li>
          <h3>法律适用性</h3>
        </li>
        <li>
          <h3>免责条款</h3>
        </li>
        <li>
          <h3>其他协议</h3>
        </li>
      </ol>
      
    </div>
    <div class="center">
      <a class="btn btn-success btn-lg" ng-click="accept_eula()">我已阅读并同意该协议</a>
    </div>
  </div>

  <div class="row" ng-if="eula_accepted">
    <div class="md-12">
      <h1><i class="fa fa-edit">  用户信息</i> </h1>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">电子邮箱</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
          <div class="col-sm-4">
            <p class="help-block">请填写真实邮箱地址以接收激活邮件。</p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
          <div class="col-sm-4">
            <p class="help-block">密码，最少6个字符。</p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
          <div class="col-sm-4">
            <p class="help-block">请再输入一次密码。</p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">企业或单位名称</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
          <div class="col-sm-4">
            <p class="help-block">请再输入一次密码。</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="validate-code">验 证 码</label>
          <div class="col-sm-3">
            <input type="text" name="validate-code" placeholder="验 证 码" class="form-control"
              title="请输入右图中的元素符号"/>
          </div>
          <div class="col-sm-3">
            <image class="captcha" src="/madlee/captcha.png" title="看不清？点击更换新图片。" />
          </div>
          <div class="col-sm-4">
            <p class="help-block">请输入右图中的元素符号。</p>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
